<app-header></app-header>
<div class="item">
    <ngx-skeleton-loader></ngx-skeleton-loader>
    <!-- above line will produce a skeleton component using `height: 30px;`" -->
    <ngx-skeleton-loader [theme]="{background: 'blue'}"></ngx-skeleton-loader>
    <!-- above line will produce a skeleton component using `height: 30px; background: blue;`" -->
    <ngx-skeleton-loader [theme]="{height: '50px', background: 'red'}"></ngx-skeleton-loader>
    <!-- above line will produce a skeleton component using `height: 50px; background: red;`" -->
  </div>
<router-outlet></router-outlet>
